                  <div class="panel dashboard_section">
                    <h3>Recent Orders</h3>
                    <div class="panel_contents">
                      <table border="0" cellspacing="0" cellpadding="0">
                        <thead>
                          <tr>
                            <th class="">State</th>
                            <th class="">Customer</th>
                            <th class="">Total</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="odd" id="order_299">
                            <td class="">
                              <span class="complete status">Complete</span>
                            </td>
                            <td class=""><a href="/admin/customers/65">oran63@sporerweissnat.info</a></td>
                            <td class="">$143.03</td>
                          </tr>
                          <tr class="even" id="order_296">
                            <td class="">
                              <span class="complete status">Complete</span>
                            </td>
                            <td class=""><a href="/admin/customers/83">adrianna81@cummerata.net</a></td>
                            <td class="">$23.91</td>
                          </tr>
                          <tr class="odd" id="order_295">
                            <td class="">
                              <span class="complete status">Complete</span>
                            </td>
                            <td class=""><a href="/admin/customers/94">christ92@muller.info</a></td>
                            <td class="">$55.21</td>
                          </tr>
                          <tr class="even" id="order_293">
                            <td class="">
                              <span class="complete status">Complete</span>
                            </td>
                            <td class=""><a href="/admin/customers/48">bert46@zulaufdonnelly.biz</a></td>
                            <td class="">$81.99</td>
                          </tr>
                          <tr class="odd" id="order_292">
                            <td class="">
                              <span class="complete status">Complete</span>
                            </td>
                            <td class=""><a href="/admin/customers/88">justyn_schulist86@wisozk.org</a></td>
                            <td class="">$95.93</td>
                          </tr>
                          <tr class="even" id="order_291">
                            <td class="">
                              <span class="complete status">Complete</span>
                            </td>
                            <td class=""><a href="/admin/customers/98">kelton_fay96@whitewyman.org</a></td>
                            <td class="">$127.84</td>
                          </tr>
                          <tr class="odd" id="order_290">
                            <td class="">
                              <span class="complete status">Complete</span>
                            </td>
                            <td class=""><a href="/admin/customers/28">annetta26@wisoky.name</a></td>
                            <td class="">$20.50</td>
                          </tr>
                          <tr class="even" id="order_288">
                            <td class="">
                              <span class="complete status">Complete</span>
                            </td>
                            <td class=""><a href="/admin/customers/36">nico.homenick34@nicolas.net</a></td>
                            <td class="">$172.67</td>
                          </tr>
                          <tr class="odd" id="order_287">
                            <td class="">
                              <span class="complete status">Complete</span>
                            </td>
                            <td class=""><a href="/admin/customers/14">alfredo12@paucekzieme.com</a></td>
                            <td class="">$32.84</td>
                          </tr>
                          <tr class="even" id="order_285">
                            <td class="">
                              <span class="complete status">Complete</span>
                            </td>
                            <td class=""><a href="/admin/customers/19">jerry17@okon.biz</a></td>
                            <td class="">$23.07</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
