{% autoescape None %}
<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="{{ locale.lang }}"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="{{ locale.lang }}"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="{{ locale.lang }}"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="{{ locale.lang }}"> <!--<![endif]-->
<head>
<html lang="{{ locale.lang }}">
	<head>
        <meta charset="utf-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    </head>
	<body>
        <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
		{% block body %}
			<div id="body-content">
				<div id="main-container">
            		<div id="main{% block main-id %}{% end %}" class="wrapper clearfix">
						{% block main %}
                            <ul>
                            {% for h in handler.application.handlers[0][1] %}
                                <li>{{ h.regex.pattern }}</li>
                            {% end %}
                            </ul>
                            
                        {% end %}
                        {% block content %}{% block section %}{% end %}{% end %}
                    </div>
                </div>
			</div>
		{% end %}

        {% block js %}
            
        {% end %}
        
	</body>
</html>
