{% extends "base.html" %}
{% autoescape None %}

{% block sidebar %}
    {% if handler.resource.sidebars or handler.resource.filters %}
        <div id="sidebar">
            {% if handler.resource.filters %}
                <div class="panel sidebar_section" id="filters_sidebar_section">
                    <h3>Filters</h3>
                    <div class="panel_contents">
                        <form accept-charset="UTF-8" action="{{ reverse_url('admin:resource:detail', handler.resource.slug) }}" class="filter_form" id="q_search" method="get">
                            <div style="margin:0;padding:0;display:inline">
                                <input name="utf8" type="hidden" value="&#x2713;" />
                            </div>
                            {% for filter in handler.resource.filters %}
                                <div class="filter_form_field filter_string">
                                    <label class="label" for="q_username">Search {{ filter }}</label>
                                    <input id="q_{{ filter }}" name="q[{{ filter }}_contains]" type="text" />
                                </div>
                            {% end %}
                            {% if 0 %}
                                <div class="filter_form_field filter_string">
                                    <label class=" label" for="q_email">Search Email</label>
                                    <input id="q_email" name="q[email_contains]" type="text" />
                                </div>
                                <div class="filter_form_field filter_date_range">
                                    <label class=" label" for="q_created_at_gte">Created at</label>
                                    <input class="datepicker" id="q_created_at_gte" max="10" name="q[created_at_gte]" size="12" type="text" value="" />
                                    <span class="seperator">-</span>
                                    <input class="datepicker" id="q_created_at_lte" max="10" name="q[created_at_lte]" size="12" type="text" value="" />
                                </div>
                            {% end %}
                            <div class="buttons">
                                <input id="q_submit" name="commit" type="submit" value="Filter" />
                                <a href="#" class="clear_filters_btn">Clear Filters</a>
                                <input id="order" name="order" type="hidden" value="id_desc" />
                                <input id="scope" name="scope" type="hidden" />
                            </div>
                        </form>
                    </div>
                </div>
            {% end %}
            
            {% for sidebar in handler.resource.sidebars %}
                {% set sidebar_content = handler.resource.content_for_sidebar(handler, sidebar, objects) %}
                
                <div class="panel sidebar_section" id="active admin demo_sidebar_section">
                    <h3>Active Admin Demo</h3>
                    <div class="panel_contents">This is the demo app for <a href="http://activeadmin.info">Active Admin</a>.Don't hesitate to check out the <a href="https://github.com/gregbell/demo.activeadmin.info/blob/master/app/admin/users.rb">source code for this page</a>, the <a href="http://activeadmin.info/documentation.html">Documentation</a> and the <a href="https://github.com/gregbell/active_admin">Github Repo</a>.
                    </div>
                </div>
            {% end %}
        </div>
    {% end %}
{% end %}


{% block content %}
    {% if handler.resource.scopes %}
        <div class="table_tools">
            <ul class="scopes table_tools_segmented_control">
                <li class="scope all selected">
                    <a href="{{ reverse_url('admin:resource:detail', handler.resource.slug) }}?order=id_desc&amp;page=1&amp;scope=all" class="table_tools_button">
                        All <span class="count">(295)</span>
                    </a>
                </li>
                <li class="scope in_progress">
                    <a href="{{ reverse_url('admin:resource:detail', handler.resource.slug) }}?order=id_desc&amp;page=1&amp;scope=in_progress" class="table_tools_button">
                        In Progress <span class="count">(30)</span>
                    </a>
                </li>
                <li class="scope complete">
                    <a href="{{ reverse_url('admin:resource:detail', handler.resource.slug) }}?order=id_desc&amp;page=1&amp;scope=complete" class="table_tools_button">
                        Complete <span class="count">(265)</span>
                    </a>
                </li>
            </ul>
        </div>
    {% end %}
    <div class="paginated_collection">
      <div class="paginated_collection_contents">
        <div class="index_content">
          <div class="index_as_table">
            <table class="index_table" border="0" cellspacing="0" id="customers" cellpadding="0">
              <thead>
                <tr>
                    {% for column in handler.resource.index_columns %}
                        <th class="sorted-desc sortable"><a href="{{ reverse_url('admin:resource:detail', handler.resource.slug) }}?order={{ column.field }}_asc">{{ column.name }}</a></th>
                    {% end %}
                  <th class=""></th>
                </tr>
              </thead>
              <tbody>
                  {% for obj in objects %}
                      <tr class="odd" id="{{ handler.resource.slug }}_{{ obj.pk }}">
                        {% comment <td class=""><a href="{{ reverse_url('admin:resource:detail:object', handler.resource.slug, obj.pk) }}" class="resource_id_link">{{ obj.pk }}</a></td> %}
                        {% for column in handler.resource.index_columns %}
                            <td class="{{ column.uid }}">
                                {{ handler.resource.content_for_column(handler, column, obj) }}
                            </td>
                        {% end %}
                        <td class="">
                            {% if 'show' in handler.resource.actions %}
                                <a href="{{ reverse_url('admin:resource:detail:object', handler.resource.slug, obj.pk) }}" class="member_link view_link">View</a>
                            {% end %}
                            {% if 'edit' in handler.resource.actions %}
                                <a href="{{ reverse_url('admin:resource:detail:object:edit', handler.resource.slug, obj.pk) }}" class="member_link edit_link">Edit</a>
                            {% end %}
                            {% if 'delete' in handler.resource.actions %}
                                <a href="{{ reverse_url('admin:resource:detail:object:delete', handler.resource.slug, obj.pk) }}" class="member_link delete_link" data-confirm="Are you sure you want to delete this?" data-method="delete" rel="nofollow">Delete</a>
                            {% end %}
                        </td>
                      </tr>
                  {% end %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div id="index_footer">
          {% if 0 %}
              
          
          <nav class="pagination">
            <span class="page current">1</span>
            <span class="page"><a href="{{ reverse_url('admin:resource:detail', handler.resource.slug) }}?order=id_desc&amp;page=2" rel="next">2</a></span>
            <span class="page"><a href="{{ reverse_url('admin:resource:detail', handler.resource.slug) }}?order=id_desc&amp;page=3">3</a></span>
            <span class="page"><a href="{{ reverse_url('admin:resource:detail', handler.resource.slug) }}?order=id_desc&amp;page=4">4</a></span>
            <span class="next"><a href="{{ reverse_url('admin:resource:detail', handler.resource.slug) }}?order=id_desc&amp;page=2" rel="next">Next &rsaquo;</a></span>
            <span class="last"><a href="{{ reverse_url('admin:resource:detail', handler.resource.slug) }}?order=id_desc&amp;page=4">Last &raquo;</a></span>
          </nav>
          {% end %}
          <div class="pagination_information">Displaying Customers <b>1&nbsp;-&nbsp;30</b> of <b>99</b> in total</div>
          <div class="download_links">Download:&nbsp;<a href="{{ reverse_url('admin:resource:detail', handler.resource.slug) }}.csv">CSV</a>&nbsp;<a href="{{ reverse_url('admin:resource:detail', handler.resource.slug) }}.xml">XML</a>&nbsp;<a href="{{ reverse_url('admin:resource:detail', handler.resource.slug) }}.json">JSON</a></div>
      </div>
{% end %}
